* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
#main {
    
    
    
   
}
#header {
    height: 55px;
    background-color: #000;
    position: relative;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;

}
.list-header {
    display: inline-block;
}
.list-header  li a {
    text-decoration: none;
    color: #fff;
    
}
.list-header > li> a {
    text-transform: uppercase;

}
.list-header > li {
    display: inline-block;
    line-height: 55px;
    position: relative;
    padding: 0 30px;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.5s;
    
}
.list-header li:hover  {
    background-color: #b6b4b4;
    transform: translateY(3px);
    
    
    
    
}
.list-header li:hover > a {
    color: #000;
}
.list-header li:hover  .sub-header  {
    
    
    display: block;
    
}
.list-header .sub-header {
    position: absolute;
    width: 200px;
    margin: -2px -31px;
    

}

.sub-header {
    display: none;
    background-color: #000;
    width: 180px;
    text-align: center;
    
    
    


}
.sub-header li   {
    text-decoration: none;
    list-style: none;
    padding: 5px 15px;
    box-shadow: 1px 1px 1px 1px rgba(8, 8, 8, 0.3);
    border: 1px solid #333;
    border-radius: 3px;
    transform: translateX(-3px);
    transition: 0.5s;
    

    
    
}
.list-header .fa-sharp {
    line-height: 50px;
    color: #fff;
    font-size: 30px;
    
}
#header .list-header .fa-text {
    margin-left: 2px;
    font-size: 1.2rem;
    
    
    line-height: 1.2rem;
    padding: 3px 2px;
}
.list-header:hover .fa-sharp {
    color: #000;
}
.icon-search {
    float: right;
    top: 0;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
    font-size: 25px;
    padding-bottom: 3px;
}
.icon-search:hover {
    background-color: #f44553;
    cursor: pointer;
}


#slider {
   padding-top: 50%;
   position: relative;
   background: url('./img/hinh-anh-thanh-pho-da-nang-dep-ve-dem.png') top center / cover no-repeat;
   margin-top: 55px;
}

#slider .contact {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#slider .text-contact {
    color: rgb(241, 241, 241);
    font-weight: 400;
    
}
#content .list-content {
    text-align: center;
    padding: 64px 16px;
    margin: 0 400px;
    
    
    
    
}
#content .list-img .sub-text {
    display: inline-block;
}

#content .list-content .item-content {
    letter-spacing: 1px;
    font-size: 1.9rem;
    font-weight: 400;
    
}
#content .list-content .sub-content {
    margin-top: 50px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
}
#content .list-img {
    display: inline-block;
    
    
    padding: 32px;
    
    
    
}
#content .list-img .sub-text {
    width: 33.33333%;
    float: left;
    padding: 5px 10px;
    
    
    
    
}
.list-img .item-img {
    margin: 15px 0;

}
#content .sub-img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(221, 221, 221, 0.452);
    padding: 0 40px;
    box-shadow: 10px 10px 5px 5px rgba(8, 8, 8, 0.3);
    
    
    

    
    
    
    

}
#content .section-tour {
    background-color: #000;

}
#content .text-tour {
    text-align: center;
    padding: 64px 16px;
    color: rgb(243, 241, 241);
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0 302px;
    
    
}
#content .list-tour {
    background-color: #fff;
    margin-top: 30px;
    
}
#content .sub-tour li {
    text-align: left;
    border: 1px solid rgba(180, 180, 180, 0.247);
    list-style-type: none;
    color: #8d8d8d;
    font-weight: 100;
    font-size: 0.9rem;
    padding: 8px 16px;
    
}
#content .section-tour .item-info {
    font-size: 0.9rem;
    margin-left: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(244, 67, 54);
    padding: 3px 8px;
}
#content .section-tour .item-infoo {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    float: right;
    padding: 4px 8px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -3px;
    
    
}
#content .list-tour .item-tour {
    font-size: 1rem;
}
#content .navigation-tour {
    padding: 32px 8px;
    display: inline-block;
    

    
}
#content .navigation-tour .item-nav {
    width: 100%;
    border-radius: 2px;
    
    
    
}
#content .navigation-tour .list-nav {
    width: 33.33333%;
    margin: 0 0;
    float: left;
    padding: 0 16px;
    margin-bottom: 16px;
    
    

}
#content .list-nav .grow {
    font-size: 1rem;
    color: #333;
    font-weight: 550;
    padding-top: 10px;
    
}
#content .list-nav .item-grow {
    font-size: 0.9rem;
    color: #333;
    margin: 15px 0;
    font-weight: 500;
    line-height: 1.4rem;
}
#content .list-nav .list-grow {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-size: 1rem;
}
#content .list-nav .text-grow-tour {
    background-color: #fff;
    padding: 0 8px;
    
    
}
#content .contact-text .content-contact {
    display: flex;
    justify-content:space-around;
    padding: 32px;
    

}
#content .section-contact {
    margin-right: 150px;

}
#content .section-contact .item-input {
    border: 1px solid #333;
}
#content .contact-text {
    margin: 0 130px;
    padding: 64px 16px;
    
    
    
    
    
    
}
#content .list-contact {
    margin-left: 240px;
    margin-top: 7px;
    padding: 2px 10px;
    
   
}
#content .list-contact .item-contact {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    
    line-height: 1.7rem;
}
#content .sub-contact {
    color: #000;
    font-size: 1.9rem;
    text-align: center;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    
    
}
#content .contact-text .section-contact {
    
    
}
#content .section-contact .item-input {
    padding: 8px;
    margin: 5px 5px;
    border: 1px solid #ddd;
    
}
#content .section-contact .sub-input {
    width: 98%;
    
    
    

}  
#content .navigation-contact {
    background-color: #fff;
    

}
#content .section-contact .send-text {
    margin-right: 3px;
    float: right;
    padding: 12px 10px;
    margin-top: 7px;
    background-color: #000;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.9rem;
    
    
    
}
#content .section-contact .send-text:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
#footer .text-footer .content-footer {
    font-size: 1.7rem;
    color: #757575;
    padding: 5px 1px;
}
#footer .sub-footer {
    text-align: center;
    margin: 20px 0;
}
#footer .text-footer {
    text-align: center;
    padding: 64px 16px;
}
#footer .sub-footer .item-footer {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}
#footer .sub-footer .list-footer {
    color: rgba(0, 0, 0, 0.5);
}
#footer .text-footer i:hover {
    opacity: 0.6;
}


